# Ignore all files for language stats
* linguist-vendored
# Keep JS generated diffs hidden
*.js linguist-generated
bin/puruby.js linguist-generated

# Only include target language
*.rb linguist-vendored=false
